<form (ngSubmit)="submit()" [formGroup]="fileForm" #formDir="ngForm">
  <div class="form-group">
    <fieldset>
      <label for="image">Faça o upload da sua imagem:</label>
      <input
        type="file"
        (change)="onFileChange($event)"
        formControlName="file"
        multiple
      />
      <span *ngIf="isValidInput(fileForm, 'file')">
        Este campo deve ser preenchido
      </span>
    </fieldset>

    <span>{{ filesList.length }}</span>
    <div class="grid">
      <img *ngFor="let i of filesListKeys" [src]="urlsList[i]" />
    </div>
  </div>
  <button type="submit">Enviar</button>
</form>

<!-- https://netbasal.com/how-to-implement-file-uploading-in-angular-reactive-forms-89a3fffa1a03 -->
